/*
* Global vars
*/
$brand-primary: #a0ce4e;

@import "bootstrap";
@import "font-awesome";

/*
* Override Bootstrap Defaults
*/
.navbar-default {
    border-bottom-color: $brand-primary;
    border-style: solid;
    border-width: 4px;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-header{
    float: none;
}
.carousel{
    background:#222;
    background: radial-gradient(circle, white, #ddd, #222); 
}
.carousel-caption{
    color:#222;
}
/*
* App Styles
*/
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.dashboard{
    display: table;
    width: 100%;
    height:100%;   
}
.menu-tabs{
    background-color:#e7e7e7;
    float: none;
    display: table-cell;
    width:10%;
    height: 100%;
    padding-bottom:9999px;
    margin-bottom:-9999px;
}
.menu-tabs > .list-group > .list-group-item{
    display:inline;
}
.wrap-panels{
    float: none;
    display: table-cell;
    height:100%;
    width:100%;
}
.content-panel{
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.show-table-cell{
    display: table-cell;
}


